{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class=" text-center mt-5">
        <h1>Mon Site de Recettes incroyables mais vraies</h1>
        <img src="https://d3p3fw3rutb1if.cloudfront.net/photos/83a3b433-f471-4e6a-9d8f-323ee4e0dee8" alt="image de plats" class="img-fluid" style="height: 600px; width: 600px ">
    </div>
{% endblock %}
